$font-family-main: 'Plus Jakarta Display', sans-serif;

$font-size-xs: 13px;
$font-line-xs: 17px;

$font-size-s: 14px;
$font-line-s: 18px;

$font-size-m: 25px;
$font-line-m: 32px;

$font-size-l: 30px;
$font-line-l: 35px;

$font-size-xl: 32px;
$font-line-xl: 40px;

/* z - Индексы */
$modal-z-index: 10;

/* Цвета */
$overlay-color: rgba(0 0 0 / 60%);

/* White */
$white: #fff;

/* Black */
$black: #000;
$black-10: #1A1A1A;
$black-50: rgba(0, 0, 0, 0.5);

/* Gray */
$gray-light: #F3F3F3;